{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="main-content">
  <form action="{{url_for('addCategory')}}" method="post">
	<fieldset>
		<legend>Add Category</legend>

		<div class="form-group">
			<label for="category">New Category Name</label>
			<input type="text" class="form-control" id="category" name="categoryName" rows="3"></input>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
    <a href = "{{url_for('showCategories')}}">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </a>
	</fieldset>
	</form>
</div>
{% endblock %}
