{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="main-content">
	<form method="post" action="{{url_for('editItem', item_title=item.title)}}">
	<fieldset>
		<legend>Edit Item</legend>

		<div class="form-group">
			<label for="itemCategory">Category</label>
			<select class="form-control" id="itemCategory" name="itemCategory">
				{%for category in categories%}
					<option>{{category.name}}</option>
				{%endfor%}
			</select>
		</div>

		<div class="form-group">
			<label for="itemTitle">Title</label>
			<input type="text" class="form-control" id="itemTitle" name="itemTitle" rows="3" placeholder="{{item.title}}"></input>
		</div>

		<div class="form-group">
			<label for="itemDescription">Description</label>
			<textarea class="form-control" id="itemDescription" name="itemDescription" rows="3" placeholder="{{item.description}}"></textarea>
		</div>


		<button type="submit" class="btn btn-primary">Save</button>
		<a href = "{{url_for('showCategories')}}">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </a>
	</fieldset>
	</form>
</div>
{% endblock %}
